body {
    margin: 50px;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

p {
    line-height: 1.4;
    max-width: 800px;
}

.thin {
    margin-right: 30vw;
}

.eighty {
    width: 80vw;
}

.subtitle {
    margin-top: -20px;
    font-style: italic;
}

h1 + .subtitle {
    margin-top: -1px;
    font-style: italic;
}

img {
    max-width: 600px;
}